# Hugo
/resources/_gen/
/public/
/hugo_stats.json

# Node.js
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind
.cache/
/tmp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

hugo-check*

