{{ define "main" }}
<div class="bg-stone-800 min-h-screen">
    
    {{ partial "home/hero.html" (dict
        "title" .Site.Title
        "description" (.Site.Params.description | default "Дефолтное описание сайта")
        "primaryCTA" (dict "text" "Смотреть услуги" "url" ("services/" | relURL))
        "secondaryCTA" (dict "text" "Написать" "url" ("contacts/" | relURL))
    ) }}
    
    {{ partial "home/services-preview.html" . }}
    
    {{ partial "home/featured-case.html" . }}
    
    {{ partial "home/about-preview.html" . }}
    
    {{ partial "home/process.html" . }}
    
    {{ partial "cta.html" (dict
        "title" "Готовы обсудить проект?"
        "description" "Оставьте заявку или напишите напрямую в Telegram"
        "primaryCTA" (dict "text" "Оставить заявку" "url" ("contacts/" | relURL))
        "secondaryCTA" (dict "text" "Написать в Telegram" "url" (printf "https://t.me/%s" .Site.Params.telegram))
    ) }}
    
</div>
{{ end }}
